<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SnapChef</title>
        <link rel="stylesheet" href="../static/styles/styles.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    </head>
    <body>
        <div class="container">
            <h1 class="title">SnapChef</h1>
            <h2 class="subtitle jingle">Snap, Sizzle, Savor</h2>
            <img class="live-feed lg-image" alt="live-feed" src="{{ url_for('video_feed') }}">
            <form method="post" action="{{ url_for('tasks') }}">
                <input id="button" type="submit" value="Capture" name="click"/>
            </form>
            {% if recipes == ['none'] %}
            <h2 class="subtitle no-ing"> No Ingredients Detected </h2>
            {% endif %}
            <div class="flex-container">
                <div class="results">
                    {% if recipes != ['none'] %}
                    {% if captured_image %}
                    <h2>Processed Image</h2>
                    <img class="lg-image" src="{{ url_for('static', filename='detect/' + detect_image.split('/')[-1]) }}" alt="Captured Image">
                    <h2 class="detected-header">Ingredients Detected</h2>
                    <ul class="list-unstyled">
                        {% for class in classes %}
                        <li class="objects">{{ class }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endif %}
                </div>

                <div class="recipes">
                    {% if recipes != ['none'] %}
                    {% if recipes %}
                    <h2>Recipes</h2>
                    {% endif %}
                    <div class="card-grid">
                        {% for recipe in recipes%}
                        <a data-toggle="modal" data-target="#{{ recipe.id }}">
                            <div class="card" >
                                <img class="card-img-top" src={{ recipe.image }} alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.title }}</h5>
                                </div>
                            </div>
                        </a>
                        {% endfor %}
                    </div>

                    {% for recipe in recipes%}
                    <div class="modal fade" id="{{ recipe.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title h2" id="exampleModalLabel">{{ recipe.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                              <h3>Ingredients</h3>
                              <ul>
                                {% for ingredient in recipe.cleaned_ingredients %}
                                <li>{{ ingredient }}</li>
                                {% endfor %}
                              </ul>
                              <h3>Instructions</h3>
                              <ol>
                                  {% for line in recipe.instructions %}
                                  <li>{{ line }}</li>
                                  {% endfor %}
                              </ol>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>



        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
